@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@keyframes fadeIn {
  0% { 
    opacity: 0;
    margin-top: 40px;
  }
  50% { opacity: 0;
    margin-top: 20px;
  }
  100% { opacity: 1;
          margin-top: 0px;
  }
}

.App {
  text-align: left;
}

body {
  background:#3CA02E;

}

.navstyle {
  font-family: 'Corben';
  color: #3CA02E !important;
  font-family: 'Corben';
  font-size: 1.8rem;
  font-weight: 700;
  padding: 0px 0px;
  /* line-height: 2rem; */
}

h1 {
  font-family: 'Corben';
  color: #D7D02E;
  font-family: 'Corben';
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2rem;
  text-align: center;
}

/* This is how I get the hamburger menu icon to be green */
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(60,160,46, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.heroImg {
  background-image:url('./assets/colorfulProduce.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: fixed; 
    top:0; 
    z-index: 0;
}


.splashText {
  font-family: 'Roboto';
  font-size:  1rem;
  font-weight: 700;
  color: black;
  background-color: rgba(255, 255, 255, .8);
  z-index: 25;
  position: relative;
  top: 100px;
  text-align: center;
  padding: 40px;
  animation: 3s ease-out 0s 1 fadeIn;
}

#feedPage {
  height: 100vh;
  /* background: linear-gradient(#3CA02E, rgb(38,85,18)); */
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 700;
}

.feedItem {
  background-color: white;
  box-shadow: 0 0 10px black;
  margin-bottom: 35px;
}

.feedTitle {
  padding-left: 8px;
  padding-right: 8px;
  line-height: 30px;
  background-color: white;
}

.feedInfo{
  padding-top: 10px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: white;
  font-weight: 400;
  font-size: 15px;
}

.feedImg {
  height: 100vw;
  object-fit: cover;
}


.feedBtm {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 0px 0;
}

.produceBtn {
  background-color: #3CA02E;
  padding: 3px 8px;
  border-radius: 4px;
  font-family: 'Roboto';
  font-weight: 700;
  color: white;
  line-height: 30px;
  border: none;
  align-self: flex-end;
  justify-self: center;
}

.produceTitle {
  line-height: 30px;
  padding: 3px 0px;
  font-weight: 700;
}

/* Crap that doesn't work
.modal {
  background-color: (rgba(255, 255, 30, .8));
}

.modalBox {
  background-color: (rgba(255, 255, 30, .8));
}

.modal-content {
  background: (rgba(255, 255, 30, .8));
} */

.modalName {
  font-family: 'Corben', 'Cooper Black', serif;
  font-weight: 700;
  color: #3CA02E;
  text-align: left;
  margin:auto;
}

.messageRow {
  background-color: white;
  padding-left: 12px;
  padding-right: 12px;
  margin: auto;
  display: flex;
}

.msgIcon {
  border-radius: 5px;
  margin-left: 8px;
  margin-right: 12px;
  object-fit: cover;
  box-shadow:  4px 0 4px #707070;
}

.msgText {
  background-color: #EDEEF0;
  line-height: 46px;
  margin: auto;
  width: 100%;
  border-radius: 5px;

}

.profileInfo {
  padding-top: 12px;
  padding-left: 20px;
  padding-right: 12px;
  background-color: white;
  font-weight: 400;
  font-size: 15px;
  line-height: 15pt
}

.profileTitle {
  padding-left: 12px;
  padding-right: 12px;
  line-height: 30px;
  background-color: white;
}

